<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/> -->

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
            
            <link href="../../css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div >
    <div th:fragment="header">
        <nav>
            <div >
                <div>
                    <a href="#" th:href="@{/}">Home</a>
                    <ul >
                        <li><a href="#" th:href="@{/messages}">Messages</a></li>
                        <li><a href="#" th:href="@{/message/new}">Create Message</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div>
            <div>
                <div>
                    <h3>Prototype logiciel</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>