<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Prototype univers7</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Message Details</h2>
        <div>
            <form>
                <div>
                    <label>Message Id:</label>
                    <div>
                        <p th:text="${message.id}">Message Id</p></div>
                </div>
                <div >
                    <label>Mots :</label>
                    <div>
                        <p th:text="${message.mots}">Mots</p>
                    </div>
                </div>
            </form>
    </div>
</div>

</body>
</html>