<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Prototype univers7</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(messages)}">
        <h2>Message List</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Mots</th>
                <th>Edit</th>
            </tr>
            <tr th:each="message : ${messages}">
                <td th:text="${message.id}"><a href="/message/${message.id}">Id</a></td>
                <td th:text="${message.mots}">Mots</td>
                <td><a th:href="${'/message/edit/' + message.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>